<p id="notice"><%= notice %></p>

<p>
  <b>League:</b>
    <%= link_to( @team.league.league_name, league_path(@team.league_id) )%>
</p>

<p>
  <b>Team name:</b>
  <%= @team.team_name %>
</p>

<p>
  <b>Owner name:</b>
  <%= @team.owner_name %>
</p>

<p><%= link_to 'Add photo',"/teams/#{@team.id}" + '/photos/new' %></p>
<% @team.photos.each do |p|%>
<%= image_tag('/images/' + p.file_name)%>
<% end %>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
