<h1>Listing Leagues</h1>

<table>
  <tr>
    <th>League name</th>
    <th></th>
<% if user_signed_in? %>
    <th></th>
    <th></th>
<% end %>
  </tr>

<% @leagues.each do |league| %>
  <tr>
    <td><%= link_to(league.league_name, league) %></td>
<% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_league_path(league) %></td>
    <td><%= link_to 'Destroy', league, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
  </tr>
<% end %>
</table>

<br />
<%= will_paginate @leagues %>
<% if user_signed_in? %>
<%= link_to 'New League', new_league_path %>
<% end %>