<%= form_for(@batting_stat) do |f| %>
  <% if @batting_stat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@batting_stat.errors.count, "error") %> prohibited this batting_stat from being saved:</h2>

      <ul>
      <% @batting_stat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Player" %><br />
    <%= f.collection_select(:player_id,  Player.find(:all), :id, :first_and_last_name , {:include_blank=>'Select a Player',:selected=>[@batting_stat.player_id]})%>
  </div>

  <div class="field">
    <%= f.label :batting_year %><br />
    <%= f.number_field :batting_year %>
  </div>
  <div class="field">
   <%= f.label :league %><br />
   <%= f.collection_select(:league_id,  League.find(:all), :id,:league_name, {:include_blank=>'Select a League',:selected=>@batting_stat.league_id})%>
 </div>
  <div class="field">  
	  <%= f.label :team_id %><br/>
      <%= f.collection_select(:team_id,  Team.find(:all), :id,:team_name,{:include_blank=>'Select a Team',:selected=>@batting_stat.team_id} )%>
  </div>	  
  <div class="field">
    <%= f.label :at_bats %><br />
    <%= f.number_field :at_bats %>
  </div>
  <div class="field">
    <%= f.label :hits %><br />
    <%= f.number_field :hits %>
  </div>
  <div class="field">
    <%= f.label :doubles %><br />
    <%= f.number_field :doubles %>
  </div>
  <div class="field">
    <%= f.label :triples %><br />
    <%= f.number_field :triples %>
  </div>
  <div class="field">
    <%= f.label :home_runs %><br />
    <%= f.number_field :home_runs %>
  </div>
  <div class="field">
    <%= f.label :runs_batted %><br />
    <%= f.number_field :runs_batted %>
  </div>
  <div class="field">
    <%= f.label :batting_average %><br />
    <%= f.text_field :batting_average %>
  </div>
  <div class="field">
    <%= f.label :batting_average_difference %><br />
    <%= f.text_field :batting_average_difference %>
  </div>
  <div class="field">
    <%= f.label :slugging_percentage %><br />
    <%= f.text_field :slugging_percentage %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
