<h1>Listing batting_stats</h1>

<table class='stats'>
  <tr>
    <th>Player</th>
	<th>Team</th>
	<th>Year</th>
    <th>AB</th>
    <th>H</th>
    <th>2B</th>
    <th>3B</th>
    <th>HRI</th>
    <th>RBI</th>
	<th>Bat Avg</th>
	<th>Slug %</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @batting_stats.each do |batting_stat| %>
  <tr>
	   <td> <%= link_to( batting_stat.player.first_and_last_name, player_path(batting_stat.player_id) )%></td>
	   	  <td> <%= link_to( batting_stat.team.team_name, team_path(batting_stat.team_id) )%></td>
	<td><%= batting_stat.batting_year %></td> 
    <td><%= batting_stat.at_bats %></td>
    <td><%= batting_stat.hits %></td>
    <td><%= batting_stat.doubles %></td>
    <td><%= batting_stat.triples %></td>
    <td><%= batting_stat.home_runs %></td>
    <td><%= batting_stat.runs_batted %></td>
	<td><%= batting_stat.batting_average %></td>
	<td><%= batting_stat.slugging_percentage %></td>
    <td><%= link_to 'Show', batting_stat %></td>
    <td><%= link_to 'Edit', edit_batting_stat_path(batting_stat) %></td>
    <td><%= link_to 'Destroy', batting_stat, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Batting stat', new_batting_stat_path %>
