<h1>Listing Player Awards</h1>
<% flash.each do |name, msg| -%>
      <%= content_tag :div, msg, class: name %>
<% end -%>
<table>
  <tr>
    <th>Award Year</th>
    <th>Award Name</th>
    <th>League</th>
    <th>Player</th>
<% if user_signed_in? %>
    <th></th>
    <th></th>
<% end %>
  </tr>

<% @player_awards.each do |player_award| %>
  <tr>
	<td><%= player_award.award_year %></td>
	<td><%= link_to( player_award.award_name, player_award) %></td>
	<td><%= link_to( player_award.league.league_name , league_path(player_award.league_id) )%></td>
	<td><%= link_to( player_award.player.first_and_last_name, player_path(player_award.player_id) )%></td>
<% if user_signed_in? %>
    <td><%= link_to 'Edit', edit_player_award_path(player_award) %></td>
    <td><%= link_to 'Destroy', player_award, method: :delete, data: { confirm: 'Are you sure?' } %></td>
<% end %>
  </tr>
<% end %>
</table>
<%= will_paginate @player_awards %>

<% if user_signed_in? %>
<%= button_to "Create Awards",create_awards_path, :method => :get %>
<br />
<%= link_to 'New Player award', new_player_award_path %>
<% end %>



