<p id="notice"><%= notice %></p>

<p>
  <b>League:</b>
   <td><%= link_to( @player_award.league.league_name , league_path(@player_award.league_id) )%></td>
</p>

<p>
  <b>Award year:</b>
  <%= @player_award.award_year %>
</p>

<p>
  <b>Award name:</b>
  <%= @player_award.award_name %>
</p>

<p>
  <b>Player:</b>
  <%= link_to( @player_award.player.first_and_last_name, player_path(@player_award.player_id) )%>
</p>


<%= link_to 'Edit', edit_player_award_path(@player_award) %> |
<%= link_to 'Back', player_awards_path %>
