<!DOCTYPE html>
<html>
<head>
  <title>Test Driven Development Example</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div class="wrapper">
<div class="top_banner">
<span class="top_banner_logo" ><%= link_to(image_tag('logo-tdd.png', :alt=>'Rails & TDD',:title=>"Click here to return home"), "/")%></span><span class="menu_nav"><%= link_to "Leagues", leagues_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Teams", teams_path%>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Players", players_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Batting Stats", batting_stats_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Player Awards", player_awards_path%>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Photos", photos_path%>&nbsp;&nbsp;</span>
</div>
<div>
<div class="the_content">
<span style="height:50px">
<%= yield %>
</div>
</div>
</body>
</html>
