<!DOCTYPE html>
<html>
<head>
  <title>Test Driven Development Example</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div class="wrapper">
<div class="top_banner" >
<span class="top_banner_logo" ><%= link_to(image_tag('logo-tdd.png', :alt=>'Rails & TDD',:title=>"Click here to return home"), "/")%></span><span class="menu_nav"><%= link_to "Leagues", leagues_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Teams", teams_path%>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Players", players_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Batting Stats", batting_stats_path %>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Player Awards", player_awards_path%>&nbsp;&nbsp;|&nbsp;&nbsp;
	<%= link_to "Photos", photos_path%>&nbsp;&nbsp;</span>
</div>
<div style="clear:both;">
<div class="site_description">
<h1>Test Driven Development Example</h1>

<p>The purpose of the site is to demonstrate my TDD skills - this site was developed using the "test first, code later" concept. It's not a full blown app - rather it's just a sample<p>

<p>This app uses Rails 3.2.13, Ruby 1.9.3, and Postgres for the backend. It's hosted on Heroku, and was developed using Test-Unit, Shoulda, Mocha, fixtures, Factory Girl, Git, and Capybara. (Yes I can do Rails 4, Rspec etc..)</p>
 

<p>And finally, this app is responsive - use your phone or tablet to view, or simply resize your browser.</p>
</div>
<div class = "right_image" >
<%= image_tag 'baseballlogo.gif'%>
</div>
</div>
<div class="the_content">
<%= yield %>
</div>
</div>
</body>
</html>
